@model IEnumerable<EURISTest.Models.ProductCatalog>

    @{
        ViewBag.Title = "Prodotti";
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <h2> @Html.DisplayFor(modelItem => item.Catalog.Description)</h2>
            </td>
        </tr>
        break;
    }

    <table>
        <tr>
            <th>
                Prodotto
            </th>
            <td></td>
            <th>
                @Html.DisplayNameFor(model => model.FKCatalogId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)
                </td>
                <td></td>
                <td>
                    @Html.ActionLink("Edit", "EditV", new { id = item.FKCatalogId }) |
                    @Html.ActionLink("Delete", "DeletePro", new { id = item.FKCatalogId })
                </td>
            </tr>
        }

    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>

