@model EURISTest.Models.ProductCatalog

@{
    ViewBag.Title = "Create";
}

<h2>Create a new relation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductCatalog</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FKCatalogId, "Catalog")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FKCatalogId")
            @Html.ValidationMessageFor(model => model.FKCatalogId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FKProductId, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FKProductId", String.Empty)
            @Html.ValidationMessageFor(model => model.FKProductId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}