@model EURISTest.Models.CatalogModel

@{
    ViewBag.Title = "Details";
}

<h2>Dettagli Catalogo</h2>

<fieldset>
    <legend>CatalogModel</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductsCatalogs)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductsCatalogs)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
